/node_modules
/public/hot
/public/images/qrcode
/public/images/receipt
/public/images/receipt_qrcode
/public/images/store_qrcode
/public/storage
/public/upload
/public/assets/zip/store_desk_code
/storage/*.key
/storage/alipay
/vendor
/.idea
/.vagrant
/app/Libs/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
autoCheckPrepareOrder.lock

